nav ul{
    list-style: none;
    display: flex;
    gap:10px;
      
}
.logo-nav{
    display:flex;
    padding:20px 200px;
}
.hero-section{
    text-align: center;
    background-image: url("./assets/banner.jpg");
    background-size:cover;

    background-repeat: no-repeat;
    display:block;


}
.another-btn{
    align-items: center;

}
.hero-section-para{
    padding:50px 0;
    color:white;
    font-size: 70px;
    
   
    
}
.another-para{
    
     color:red;
     margin-left: 13cm;
     margin-right: 70px;
     margin-bottom:1000px ;
     
padding-right:450px;

    
}
.spkr{display: flex;
    font-size: 50px;
font-weight: bold ;
justify-content: center;
}

.container{display: flex;
        gap:20px;
        justify-content: center;
       
        margin:auto;
        
    }
             .box-prime{
                border:1px solid #333333;
                font-size: 15px;
                list-style: inside;
                 border-radius: 20px;
                  width: 300px;
        height: 300px;
                padding-top:20px;
                padding-bottom:60px ;
                padding-left: 25px;
                  
              
            
         
            }
            .last-box{
                color:#888888;
            }
            .boxx3{
                background-color:rgb(245, 241, 241);
            }
            

*{ font-family: "Inter",sans-serif;
    margin:0;
    padding:0;

}
.navig{
    text-align: center;
         padding-left:170px;
}
ul li a{
    
    
    text-decoration: none;
    
   
}
.logo-r{
    display: flex;
    

}
.list-style{
    padding-bottom: 30px;
    padding:20px 0;
}
.cmmn-btn{
    padding:15px 0;
}
.nav-btn{
    margin-left: 330px;
    color:white;
    background-color:#1D4ED8;
    font-weight: bold;
    border-radius: 5px;
    padding:6px 30px;
    


}
.common-para2{
    color:skyblue;
    font-size: 15px;
font-weight: bold;
}
.all{
   
   max-width: 1200px;

    margin:0 auto;

    
}
.andrej img{
   
   width:100%;
     
     
}
.andrej{
    border:5px solid blue ;
    border-radius: 10px;
    
}
.demis img{ 
     width:100%;

}
.spkr-2{
    padding:20px;
}
.demis{border:5px solid black ;
    border-radius: 10px;

}
.mustafa img{ width:100%;}
.mustafa{

     border:1px gray;

border-radius: 10px;
}
.gary img{width:100%;}
.gary{
  border:5px solid blue;
  border-radius: 10px;
}

.adem{
width:100%;
    display:flex;
    gap:20px;
    padding:20px 10px;
    
}
    .gary-mustafa{width:100%;
        display: flex;
    padding:20px 10px;
    gap:20px;

    }
.full-card{
    background-color: black;
     border:1px gray;
                font-size: 15px;
                list-style: inside;
                 border-radius: 20px;
                  width: 300px;
        height: 300px;
    
                
                color:gray;
                 
                 padding-top:20px;
                padding-bottom:60px ;
                padding-left: 25px;
                 
}
.new-font{
    color:white;
}


body{
    background-color: none;
}
li::marker{
    color:#2563EB;
}
.btn1{
    background-color: white;
    border-radius: 5px;
    padding:9px 95px;
    color:#2563EB;
    border: 1.5px solid #2563EB;
}
.btn2{
    color:#FFFFFF;
    border-radius: 5px;
    padding:9px 114px;
    background-color:#2563EB;
    border: 1.5px solid #2563EB;
     
    
}
.btn3{
    border-color:#0D1B2A;
    border-radius: 5px;
    padding:9px 100px;
     border:1.5px solid #0D1B2A;
}
.common-class{
    padding:15px 15px;
}
.common-p1{
    color:#2759e3;
    font-size:13px;
}
.common-p3{
    font-size:13px;
    color:gray

}