nav ul{
    list-style: none;
    display: flex;
    gap:10px;
      
}
.logo-nav{
    display:flex
}
.hero-section{
    
    background-image: url("./assets/banner.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    display:block;


}
.common-class{
    
}
.another-btn{
    align-items: center;

}
.hero-section-para{
    padding:50px 0;
    color:white;
    font-size: 70px;
    align-items:2000;
   
    
}
.another-para{
    color:red;
     margin-left: 250px;
     margin-bottom:1000px ;
}
.spkr{display: flex;
    font-size: 50px;
font-weight: bold ;
justify-content: center;
}


.container{display: flex;
        gap:20px;
        justify-content: center;
       
        margin:auto;
        
    }
             .box-prime{
                border:5px solid #1D4ED8;
                font-size: 15px;
                list-style: inside;
                 border-radius: 20px;
                  width: 300px;
        height: 300px;
    text-align: center;
                padding-top:100px;
                  
              
            
         
            }
            

*{
    margin:0;
    padding:0;

}
.navig{
    align-items: center;
}
ul li a{
    
    
    text-decoration: none;
    
   
}
.logo-r{
    display: flex;
    

}
.nav-btn{
    margin-left: 950px;
    color:white;
    background-color:#1D4ED8;
    font-weight: bold;
    border-radius: 5px;
    padding:10px 25px;

}

.adem{
    display: flex;
    padding:50px 100px;
    
}
.gary-musta{
    
    display: flex;
    padding:50px 100px;

}

.full-card{padding-top:0;
    background-color: black;
     border:5px solid #1D4ED8;
                font-size: 15px;
                list-style: inside;
                 border-radius: 20px;
                  width: 300px;
        height: 300px;
    text-align: center;
                padding-top:100px;
                color:gray;
}
section{
    padding:0 150px;

}
body{
    background-color: none;
}
.btn1{
    border-color: skyblue;
    border-radius: 5px;
    padding:5px 100px;
}
.btn2{
    color:white;
    border-radius: 5px;
    padding:5px 100px;
    background-color: #1D4ED8;
    
}
.btn3{
    border-color: gray;
    border-radius: 5px;
    padding:5px 100px;
}
